{% extends 'chronos/base.html' %}
{% load widget_tweaks %}

{% block title_block %}
    Register
{% endblock %}

{% block body %}
    <section class="section has-text-centered">
        <h1 class="is-bold is-size-3">Register Here</h1>
        <article class="container message is-info has-text-left">
            <div class="message-header">
              <p>Info</p>
            </div>
            <div class="message-body">
              <ul>
                <li>Your password can't be too similar to your other personal information.</li>
                <li>Your password must contain at least 10 characters.</li>
                <li>Your password can't be a commonly used password.</li>
                <li>Your password can't be entirely numeric.</li>
              </ul>
            </div>
        </article>
    </section>
    <div class="container box">
        {% if form.non_field_errors %}
            <article class="message is-danger">
                    <div class="message-header">
                        <p>Errors</p>
                        <button class="delete" aria-label="delete"></button>
                    </div>
                    <div class="message-body">
                        {% for error in form.non_field_errors %}
                        {{ error|escape }}
                        {% endfor %}
                    </div>
            </article>
        {% endif %}
    <form action="." method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="field">
                    <label class="label is-size-5">{{ field.label }}</label>
                    <div class="control">
                        {{ field|add_class:"input" }}
                    </div>
                    <div class="form-errors">
                        {% for error in field.errors %}
                            <span>{{ error|escape }}</span>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            <input type="submit" value="Register" class="button is-medium is-dark has-text-centered">
    </form>
    </div>
    
    
    <div class="has-text-centered">
        <p>
            Already a member?
            <a href="{% url 'auth_login' %}">Login</a>
        </p>
    </div>
{% endblock %}